/*
.user_avatar{
    display:inline-block;
    vertical-align: top;
    margin:2px 2px 0 2px;
}
*/
.post_table tr td{
    vertical-align: top;
    padding: 2px 0 2px 0;
}
.post_frame{
    margin-left:5px;
}
.post_table_field_1{
    text-align: center;
}
.user_avatar a img{

    -moz-border-radius:3px 3px 3px 3px;
    -webkit-border-radius:3px 3px 3px 3px;
    border-radius:3px 3px 3px 3px;
}
.post_header{
    padding:5px 5px 5px 5px;
    font:bold 16px Arial;
}
.post_body{
    margin-top:5px;
}
.post_content{
    min-height: 60px;
    font-size:14px;
    background-color: #ffffff;
    border: 1px #ededed solid;
    padding: 0 5px 0 5px;
    
}
