{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block external %}
{% endblock %}
{% block content %}
    <div class="hero-unit">
        <div class="pull-center">
            <p>
                Đây là project môn học Software Engineering của nhóm 4, K55CA, UET, VNU<br/>
                Project mô phỏng ứng dụng Edmodo Library, xây dựng dựa trên Django framework.<br/>
                Project được phát triển bởi các thành viên:<br/>
                <div class="nav-list" style="color:#ff0000;font:normal 16px Arial;">
                Trương Huy Hoàng<br/>
                Nguyễn Văn Hồng<br/>
                Nguyễn Quang Huy<br/>
                Thái Công Khanh<br/>
                Đỗ Đức Kiên<br/>
                </div>
                <br/>
                Mọi ý kiến, đóng góp xin gửi về email: se_group4_k55ca@googlegroups.com <br>
                Thanks!
            </p>
        </div>
    </div>
{% endblock %}
