{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/site_media/general-v2.css">
{% endblock %}
{% block content %}
    <div id="nav">
        <div id="navWrap">
            <a id="logo" href="/">Edmodo</a>
            <div class="navRt">
                <a href="/">Home</a>
                <a href="/library/">Library</a>
                <a href="/logout/">Logout</a>
            </div>
        </div>
    </div>
    {% block content2 %}{% endblock %}
{% endblock %}