{% extends "user_page.html" %}
{% block title %}Upload{% endblock %}
{% block contentCatagories %}
    <div class="modal-header">
        <h2>Select the file to upload</h2>
    </div>
    <br>
    <form enctype="multipart/form-data" method="post" action=".">
        <table id="upload_table">
            {% csrf_token %}
            {{ form.as_table }}
            {# input phai nam trong form #}
        </table>
        <input type="submit" value="Upload"/>
    </form>
    Status {{ status }}
{% endblock %}