{% extends "base.html" %}
{% block title %}books|{{ user.username }}{% endblock %}
{% block external %}
    <script type="text/javascript" src="/site_media/javascript/tag_sphere/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/site_media/javascript/tag_sphere/jquery.tagsphere.js"></script>
    <script type="text/javascript" src="/site_media/javascript/tag_sphere/jquery.tagsphere.min.js"></script>
    <script type="text/javascript" src="/site_media/javascript/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/site_media/javascript/bootstrap-tab.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tagSphere').tagcloud({centrex:200, centrey:170, init_motion_x:20, init_motion_y:20, zoom:110});
        });
    </script>


{% endblock %}
{% block content %}
    <br><br><br><br>
    <div class="pull-center">Welcome {{ user.username }}! Day la trang user<br/></div>

    {% if profile_image_status == 0 %}
        <img src="/site_media/img/user_images/male_user.png" alt="Male User Image"/>
    {% else %}
        {% if profile_image_status == 1 %}
            <img src="/site_media/img/user_images/female_user.png" alt="Male User Image"/>
        {% else %}
        {% endif %}
    {% endif %}

    <div class="navbar-inner-background">

        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#">Your account</a></li>
                        <li class="divider"></li>
                        <img id="avatar" src="http://u.ph.edim.co/default-avatars/default_avatar.png">
                        <a id="avatarName" href="/user/{{ user.username }}">{{ user.username }}</a><br>


                        <li class="active"><a href="#">Other</a></li>
                        <li class="divider"></li>
                        <li><a href="/upload">Upload files</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>

                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->

            <div class="span7">
                <ul class="breadcrumb">
                    <ul id="tab" class="nav nav-tabs">
                        <li class=""><a href="/books">Books</a></li>
                        <li class=""><a href="/videos">Videos</a></li>
                        <li class=""><a href="/images">Images</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/videos">Videos</a></li>
                                <li><a href="/images">Images</a></li>
                            </ul>
                        </li>
                    </ul>

                </ul>
                <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
                    <div class="modal-body">
                        {% block contentCatagories %} Anormous datas have stored in this books {% endblock %}
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
            <!--/span-->

            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="active"><a href="#">Action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Upgrade</a></li>
                        <li class="active"><a href="#">Other</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>

                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
        </div>
        <!--/row-->

        <br> <br>


    </div>
    <br>

{% endblock %}
