{% extends "User/base_user_page.html" %}
{% block title %}{{ user.username }}|Videos{% endblock %}
{% block base_user_external %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/Media_object/media_objects_page.css"/>
{% endblock %}
{% block base_user_content %}
    {% if not videos.object_list.count %}
        <h3>You haven't uploaded any video</h3>
    {% else %}
        <h3>You have uploaded {{ videos.object_list.count}} video(s)</h3>
        {% for video in videos.object_list %}
            <div class="media_object_list">
                <h2><a href="/video/{{ video.id }}">{{ video.title }}</a></h2>
                <table style="margin: 0 0 5px 0">
                    <tr>
                        <th valign="top" style="padding: 8px 5px 5px 5px">
                            <a href="/video/{{ video.id }}"><img class="video_thumbnail" src="http://img.youtube.com/vi/{{ video.get_Youtube_video_id }}/2.jpg" alt="http://img.youtube.com/vi/{{ video.get_Youtube_video_id }}/2.jpg"/></a>
                        </th>
                        <td valign="top" style="padding: 2px 5px 5px 5px">
                            <h3>
                                Shared by: <a href="/user/{{ video.uploader }}/" >You</a><br/>
                                Uploaded date: {{ video.upload_date }}<br>
                                {% if video.public_share %}
                                    Sharing: Public
                                    <a href="/set_private/video/{{ video.id }}"><input type="button" value="Private"/></a>
                                {% else %}
                                    Sharing: Private
                                    <a href="/set_public/video/{{ video.id }}"><input type="button" value="Public"/></a>
                                {% endif %}
                            </h3>
                        </td>
                    </tr>
                </table>
                <a href="/video_delete/{{ video.id }}"><input type="button" value="Delete"/></a>

            </div>
        {% endfor %}


        {# --------Phan trang------- #}
        {% with object_holder=videos %}
            {% include "Paginator/paginator.html" %}
        {% endwith %}
        {# --------Het phan trang------- #}
    {% endif %}

{% endblock %}